@charset "utf-8";
body{
	background-color:#FFF9E5;
	
}
.hero-1 {
	background-image: url(images/header.jpg);
	margin:0 auto;
}
.hero-2 {
	background-image: url(images/header-1.jpg);
	margin:0 auto;
}
.hero-3 {
	background-image: url(images/header-2.jpg);
	margin:0 auto;
}
.hero-4 {
	background-image: url(images/header-3.jpg);
	margin:0 auto;
}
.hero-5 {
	background-image: url(images/header-4.jpg);
	margin:0 auto;
}
.hero-6 {
	background-image: url(images/header-5.jpg);
	margin:0 auto;
}

p.tel{
	font-size: 36px;
	color: #72a653;
	text-align:center;
	margin:  0 auto;
	}
	
p.inquiry{
	text-align:center;
	margin: 0 0 0 150px;
}
	
p.eigyo{
	font-size: 16px;
	color: #000;
	text-align:center;	
	margin: 0 auto;
	}
	

.jumbotron .row {
	height: 223px;
		
}

.jumbotron h1 {
	color: #159B06;
	font-size: 30px;
}

.jumbotron p {
	color: #159B06;
	font-size: 16px;
	width:100%
}

ol.breadcrumb{
	margin:0 auto;
	background-color:#FFF9E5;
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
background-color: #72a653;
border-color: #3e6962;
margin-top:0;
}
/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
color: #fafafa;
}
/* navbar hover,focus時のテキストカラー */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #26534c;
background-color: transparent;
}
/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
color: #fafafa;
background-color: #1C7810;
}
/* navbar ドロップダウン(親)のカラー */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
color: #3e6962;
background-color: #c3ede7;
}
/* navbar ドロップダウン(子)のボックスカラー */
.dropdown-menu {
background-color: #72a653;
border: 1px solid #3e6962;
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}
/* navbar ドロップダウン(子)テキストカラー */
.dropdown-menu>li>a {
color: #fafafa;
}
/* navbar ドロップダウン(子)focus,hover時のカラー */
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
.dropdown-menu .divider {
background-color: #3e6962;
}
/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #fafafa;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #26534c;
background-color: transparent;
}
/* ドロップダウンactive設定時のカラー */
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
color: #ffb163;
background-color: #d4ede9;
}
}
/* navbar ハンバーガー四角枠 */
.navbar-default .navbar-toggle {
border-color: #fafafa;
}
/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: #fafafa;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: #fafafa;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
border-color: #72a653;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-default .navbar-toggle:focus > .icon-bar,
.navbar-default .navbar-toggle:hover > .icon-bar {
background-color: #72a653;
}
/* navbar Brandのカラー */
.navbar-default .navbar-brand {
color: #ff5555;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
color: #ff5555;
background-color: transparent;
}



footer{
	background:#72a653;
	height:300px;
	margin: 0 auto;
}

.footer-nav{
  margin:0 auto;
  list-style:none;
  width: 80%; 
}
.footer-nav:after {
  content: "";
  clear: both; 
}
.footer-nav li{
  float:left;
  width:12%
 }
.footer-nav a{
  display: block;    
  line-height:40px;
  height:40px;
  width:100%;
  text-align:center;
  background:#72a653;
  color:#fafafa;
  border-right:1px solid fafafa;
}
.footer-nav li:first-child a{
  border-left:1px solid fafafa;
}
.copyright{
	color:#fafafa;
	Margin-top:150px;
}

.photo{
	content: "";
	list-style:none;
	clear: both; 
}
.photo-left{
	 float:left;
	 margin: 0 auto;
	 width:33%;
}


/* ポイントバースト */
.burst-12 {
    background: #81C7D4;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
	position:absolute; top:100px; left:1.2em; 
	z-index: 0;
}
.burst-12:before, .burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background: #81C7D4;
	}
.burst-12:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
		 z-index: 1;
}
.burst-12:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
	z-index: 2;
}


 
 /* entry-dates */

  .entry-dates .entry-date {
	display: #fafafa;
	font-size:16px;
	line-height: 1;
	padding-top: 22px;
	
}

  .entry-dates .entry-date span {
	display: block;
}

  .entry-dates .entry-date span.entry-year {
	font-size: 15px;
}

  .entry-dates .entry-date span.entry-month {
	font-size: 22px;
	margin-top: 3px;
}

 .sticky .entry-dates .entry-date {
	display: none;
}

/* entry-title */
  .entry-title a,
.single   .entry-title .post-title {
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle;
	font-size:22px;
}

  .entry-title .post-title {
	word-wrap: break-word;
}
.post-title{
	margin-left:3em;
	background-color:DFF0D8;
	color:#000;
	margin-bottom:2px;
}
.post-content{
	margin-top:0;
	font-size:14px;
	
}
.hiduke{
	color:#fafafa;
	width: 60px;
    height: 60px;
	position:absolute; top:10px; left:0em; 
	z-index: 3;
	
	}

.profile{
	margin-top:0;
	margin-bottom:0;
	background-color:#FFF9E5;
	border-bottom:#008800 solid 1px;
	}
	
.the_data_inner{
	margin-right:80px;
}
.the_data_inner2{
	margin-right:50px;
}
h3.messege{
	font-size:20px;
	font-weight:700;	
}

h2.post-title{
	font-size:36px;
	margin-bottom:0;
	font-weight: 900;
	margin-left:0px;
	padding:4px 4px 4px 4px;
}
h3.second-title{
	font-size:24px;
	text-decoration: underline;
	font-weight: 700;
	margin-bottom:0;
	padding:4px 4px 4px 4px;
}
h4.third-title{
	font-size:16px;
	text-decoration: underline;
	font-weight: 400;
	margin-top:0;	
	margin-bottom:0;
	padding:4px 4px 4px 4px;
}
.eyecatch{
	text-align: center;	
	margin-left:auto;

    margin-right:auto;

}